.body-content{
	margin-top: 55px;
	margin-bottom:100px;
}

.jumbotron {
	height: 55vh;
	// background:  ; 
	background: 
    /* top, transparent red */ 
    linear-gradient(
      rgba(128,128,128, 0.45), 
      rgba(128,128,128, 0.45)
    ),
    url("/images/cover.jpg");
	background-size: 100%;
	background-position-y: -210px;
}

.headline{
	color: white;
}
.bannercontainer{
	margin-top: 90px;
	margin-right: auto;
	margin-left: auto;
}


#typed4{
	height: 50px;
}

.search-bar{
	height: 50px;
}

.links{
	color: #28a745; 
}


.about-image{
	margin-bottom: 10px;
}

.items{
	margin-top: 30px
}
.item-card{
	width: 48%
}

.categories{
	background-color: #28a745;
	color: #fff;
	padding: 10px;
}

.home-card{
	width: 31.5%
}

.item-content{
	margin-top: 50px;
}

.myitem-content{
	margin-top: 150px;
}
.all-item{
	margin-top: 20px;
}

.location{
	position:absolute;
	bottom: 0px;
}
.search-content{
	margin-top: 20px;
}
.footer-content{
	// position: fixed;
  	bottom: 0;
	width: 100%;
	height: 100px;
    padding: 25px;
}


@media screen and (max-width: 780px) {
	.bannercontainer{
		margin-top: 95px;
	}

	.jumbotron {
		height: 79vh;
    	background-size: 287%;
    	background-position-x: -525px;
	}

	.item-card{
		width: 90%
	}

	.home-card{
		width: 81%
	}

}


