@font-face {
  font-family: "MuseoSans-500";
  src: url("/webfonts/3978CB_0_0.eot");
  src: url("/webfonts/3978CB_0_0.eot?#iefix") format("embedded-opentype"), url("/webfonts/3978CB_0_0.woff2") format("woff2"), url("/webfonts/3978CB_0_0.woff") format("woff"), url("/webfonts/3978CB_0_0.ttf") format("truetype");
}

.body-content {
  margin-top: 55px;
  margin-bottom: 100px;
  min-height: 66vh;
}

.body-content-home {
  margin-bottom: 100px;
  min-height: 66vh;
}

.jumbotron {
  height: 55vh;
  background: linear-gradient(rgba(128, 128, 128, 0.45), rgba(128, 128, 128, 0.45)), url("/images/cover.jpg");
  background-size: 100%;
  background-position-y: -210px;
}

.headline {
  color: white;
}

.bannercontainer {
  margin-top: 10%;
  margin-right: auto;
  margin-left: auto;
  position: absolute;
  top: 0;
  color: white;
  width: 100%;
  padding: 20px;
  z-index: 100000000;
}

.recommendation {
  margin-top: 4%;
}

.video-container {
  height: 600px;
  left: 0;
  overflow: hidden;
  top: 0;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  width: 100%;
  z-index: 2;
}

.video-overlay {
  background-color: #0000003d;
  width: 100%;
  position: absolute;
  height: 600px;
  z-index: 100;
}

.video-banner-vid {
  height: auto;
  left: 50%;
  min-height: 100%;
  min-width: 100%;
  top: 50%;
  -webkit-transform: translate(0%, 9%);
          transform: translate(0%, 9%);
  width: auto;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  z-index: 0;
}

.video-image-container {
  z-index: -1;
  width: 100%;
  height: 600px;
  position: absolute;
  bottom: 40%;
  zoom: 115%;
}

.video-image {
  width: 100%;
  height: 150%;
}

.bg-white {
  background-color: white !important;
}

.ncol {
  color: #28a745 !important;
}

.ncol-logo {
  color: black !important;
}

#typed4 {
  height: 60px;
  border-radius: 4px;
}

.search-bar {
  height: 60px;
}

.links {
  color: white;
  font-size: 15px;
}

.about-image {
  margin-bottom: 10px;
}

.items {
  margin-top: 30px;
}

.show-item-content {
  margin-top: 90px;
}

.item-card {
  width: 48%;
}

.pricing-card {
  height: 90px;
}

.item-image {
  width: 500px;
}

.item-desc {
  height: 500px;
}

.categories {
  background-color: #28a745;
  color: #fff;
  padding: 10px;
}

.home-card {
  width: 23%;
}

.about-text {
  font-size: 17px;
}

.location-details {
  display: none;
}

.item-card-desc {
  font-size: 12px;
}

.listing {
  height: 400px;
  background: linear-gradient(rgba(128, 128, 128, 0.45), rgba(128, 128, 128, 0.45)), url("/images/listing-banner.jpg") no-repeat;
  background-position-x: center;
  background-size: cover;
  background-position-y: -165px;
}

.item-content {
  margin-top: 50px;
}

.myitem-content {
  margin-top: 75px;
  min-height: 66vh;
}

.all-item {
  margin-top: 20px;
}

.other-desc {
  position: absolute;
  bottom: 0px;
}

.search-content {
  margin-top: 20px;
}

.facebook-link {
  color: #4267b2;
  font-size: 30px;
}

.twitter-link {
  color: #38A1F3;
  font-size: 30px;
}

.whatsapp-link {
  color: #25D366;
  font-size: 30px;
}

.create-container {
  margin-top: 100px;
}

.video {
  width: 50%;
}

.why-text {
  width: 70%;
}

.footer-content {
  bottom: 0;
  width: 100%;
  height: 100%;
  padding: 25px;
}

.footer-text {
  font-size: 15px;
  color: white;
}

.place-form {
  display: none;
}

.thank-you-pop {
  width: 100%;
  padding: 20px;
  text-align: center;
}

.thank-you-pop img {
  width: 76px;
  height: auto;
  margin: 0 auto;
  display: block;
  margin-bottom: 25px;
}

.thank-you-pop h1 {
  font-size: 42px;
  margin-bottom: 25px;
  color: #5C5C5C;
}

.thank-you-pop p {
  font-size: 20px;
  margin-bottom: 27px;
  color: #5C5C5C;
}

.thank-you-pop a {
  display: inline-block;
  margin: 0 auto;
  padding: 9px 20px;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  background-color: #8BC34A;
  border-radius: 17px;
}

.thank-you-pop a i {
  margin-right: 5px;
  color: #fff;
}

.sorry-pop {
  width: 100%;
  padding: 20px;
  text-align: center;
}

.sorry-pop img {
  width: 76px;
  height: auto;
  margin: 0 auto;
  display: block;
  margin-bottom: 25px;
}

.sorry-pop h1 {
  font-size: 42px;
  margin-bottom: 25px;
  color: #5C5C5C;
}

.sorry-pop p {
  font-size: 20px;
  margin-bottom: 27px;
  color: #5C5C5C;
}

.sorry-pop a {
  display: inline-block;
  margin: 0 auto;
  padding: 9px 20px;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  background-color: #8BC34A;
  border-radius: 17px;
}

.sorry-pop a i {
  margin-right: 5px;
  color: #fff;
}

#ignismyModal .modal-header {
  border: 0px;
}

#map {
  width: 395px;
  height: 500px;
}

.link-alert {
  display: none;
}

.h2 {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #000;
  line-height: 0.1em;
  margin: 10px 0 20px;
}

.h2 span {
  background: #fff;
  padding: 0 10px;
  font-size: 20px;
}

.font-16 {
  font-size: 16px;
}

