@font-face {
  font-family: "MuseoSans-500";
  src: url("/webfonts/3978CB_0_0.eot");
  src: url("/webfonts/3978CB_0_0.eot?#iefix") format("embedded-opentype"), url("/webfonts/3978CB_0_0.woff2") format("woff2"), url("/webfonts/3978CB_0_0.woff") format("woff"), url("/webfonts/3978CB_0_0.ttf") format("truetype");
}

.categories {
  background: white;
}

.one-category {
  width: 49%;
}

.all-items {
  margin-bottom: 60px;
}

.one-item {
  width: 45%;
  margin-bottom: 15px;
  margin-right: 7px;
  margin-left: 7px;
  border: 1px solid;
  border-radius: 5px;
  padding: 10px;
  background: white;
}

.item-image {
  background: white;
}

.no-margin {
  margin: 0px;
}

.items {
  padding-top: 25px;
}

.create-container {
  margin-top: 35px;
}

.footer {
  height: 65px;
}

.footer-link {
  font-size: 20px;
  margin-top: 8px;
  margin-bottom: -8px;
}

.green {
  color: #38c172;
}

